{% block cssblock %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Quản lí sản phẩm</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->

    <link href="{% static 'css/homeAdmin/style.css' %}" rel="stylesheet">
</head>


<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-bookItems-center header-transparent" style="background-color: black;">

        <nav id="navbar" class="navbar">
            <ul>
                <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
                <li><a class="nav-link scrollto" href="#book">Sách</a></li>
                <li><a class="nav-link scrollto" href="#clothes">Quần áo</a></li>
                <li><a class="nav-link scrollto" href="#electronics">Đồ điện tử</a></li>
                <li><a class="nav-link scrollto " href="#laptop">Laptop</a></li>
                <li><a class="nav-link scrollto " href="#mobilephone">Điện thoại</a></li>
                <li><a class="nav-link scrollto " href="#shoes">Giày</a></li>
                <li><a class="nav-link scrollto" href="#contact">Tìm kiếm</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </header>
    <!-- End Header -->


    <main id="main">
        <section id="book" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Add Kid Clothes</h2>
                </div>
                <form action="{% url 'clothes:add_kidClothes' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <div class="row row-cols-2">
                                    <input name="id_kidClothes" type="text" class="form-control" value="" hidden>
                                    <input name="id_kidClothesItem" type="text" class="form-control" value="" hidden>
                                    <div class=" d-flex justify-content-start">
                                        <span class="col-3" style="font-weight: bold;">productName:</span>
                                        <input name="productName" type="text" class="form-control" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start">
                                        <span class="col-3" style="font-weight: bold;">material:</span>
                                        <input name="material" type="text" class="form-control" value="">
                                    </div>

                                    <div class=" d-flex justify-content-start mt-3 ">
                                        <span class="col-3" style="font-weight: bold;">countryOfOrigin:</span>
                                        <input class="form-control" type="text" name="countryOfOrigin" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">size:</span>
                                        <input name="size" type="text" class="form-control" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">pattern:</span>
                                        <input name="pattern" type="text" class="form-control" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">plusSize:</span>
                                        <input class="form-check-input" type="checkbox" name="plusSize" value="True">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">brand:</span>
                                        <input name="brand" type="text" class="form-control" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">gender:</span>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" value="nam" checked>
                                            <label class="form-check-label">
                                              Male
                                            </label>
                                        </div>
                                        <div class="form-check ms-5">
                                            <input class="form-check-input" type="radio" name="gender" value="nữ">
                                            <label class="form-check-label">
                                              Female
                                            </label>
                                        </div>
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">recommendedAge:</span>
                                        <input name="recommendedAge" type="text" class="form-control" value="">
                                    </div>

                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">price:</span>
                                        <input name="price" type="text" class="form-control" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">description:</span>
                                        <input name="description" type="text" class="form-control" value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">header:</span>
                                        <input name="header" type=" text " class="form-control " value="">
                                    </div>
                                    <div class=" d-flex justify-content-start mt-3">
                                        <span class="col-3" style="font-weight: bold;">discount:</span>
                                        <input name="discount" type=" text " class="form-control " value="">
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-5 ">
                        <button type="submit " class="btn btn-primary " style="width: 3cm; ">Save</button>
                        <a href="http://127.0.0.1:8000/homeAdmin/#kidClothes"><label class="btn btn-warning ms-5 " style="width: 3cm; ">Cancel</label></a>
                    </div>

                </form>
                <div class=" ">

                </div>
            </div>

            </div>
        </section>
    </main>

    <a href="# " class="back-to-top d-flex align-bookItems-center justify-content-center "><i class="bi bi-arrow-up-short "></i></a>

</body>

</html>


{% endblock %}